<aside class="dashboard-right">
	<div class="streams">

		<h3>Recordings</h3>

		<% if @my_current_recordings.count > 0 %>
			<%= image_tag "on.gif", :class => "indicator" %><h4>Current</h4>
		<% else %>	
			<%= image_tag "off.gif", :class => "indicator" %><h4>Current</h4>
		<% end %>
		<ul>
			<% @my_current_recordings.each do |recording| %>
				<li title="Duration: <%= recording.duration.to_s %> Hours, Criteria:<%= recording.criteria %>"><%= recording.name + " on " + recording.start.strftime("%d-%b") + " at " + recording.start.strftime("%I:%M%p") %> </li>
			<% end %>	
		</ul>
		
       	<h4>Scheduled</h4>
		<ul>
			<% @my_scheduled_recordings.each do |recording| %>
				<li title="Duration: <%= recording.duration.to_s %> Hours, Criteria:<%= recording.criteria %>"><%= recording.name + " on " + recording.start.strftime("%d-%b") + " at " + recording.start.strftime("%I:%M%p") %> </li>
			<% end %>	
		</ul>
        <h4>Saved</h4>
		<ul>
			<% @my_saved_recordings.each do |recording| %>
				<li title="Duration: <%= recording.duration.to_s %> Hours, Criteria:<%= recording.criteria %>"><%= recording.name + " on " + recording.start.strftime("%d-%b") + " at " + recording.start.strftime("%I:%M%p") %> </li>
			<% end %>	
		</ul>

		<!-- <div class="view-all">
			<p>View All</p>
		</div>  -->
	</div>

	<div class="recommended">
		<h3>Recommended for You</h3>
		<ul class="stream-text" >
			<li></li>
			<li></li>
		</ul>
	</div>
</aside>

