
	<%= form_for(@recording) do |f| %>
		<% if @recording.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@recording.errors.count, "error") %> prohibited this recording from being saved:</h2>
			</div>
		<% end %>

		<div class="specify">
			<%= image_tag "birdwebtrans.png", 
				:class => "twitterbird" %>

		  <p><%= f.label :name, "Start by telling us what to record: favorites, friends, events. Or simply add your handle to record your own stream" %></p>	
			<%= f.text_field :criteria, :id => 'specifyfield', 
				:placeholder => 'Enter @users and or #hashtags' %>
		</div>

		<div class="datetime">
			<p>Select date and time to record stream 
				<!-- <span class="reset">Reset</span> -->     
			</p>

				<p class="legend">Date<span id="time-legend">Time</span></p>
			  <%= f.text_field :date_text, :id => 'datepicker' %>

			  <!-- <%= f.text_field :time_text, :id => 'timepicker', 
					:placeholder => Time.now.strftime("%I:%M %p") %> -->

			  <%= f.select :time_text, options_for_select(["12:00am", "1:00am", "2:00am", "3:00am", "4:00am", "5:00am", "6:00am", "7:00am", "8:00am", "9:00am", "10:00am", "11:00am", "12:00pm", "1:00pm", "2:00pm", "3:00pm", "4:00pm", "5:00pm", "6:00pm", "7:00pm", "8:00pm", "9:00pm", "10:00pm", "11:00pm"]),  { :class => "recording_text", :placeholder => Time.now.strftime("%I:%M %p") } %>	

		</div>

			
		<div class="duration">
			<p>How long do you want to record this session?</p>
			<div class="button-holder">
				<%= f.radio_button :duration, "1", 
					:class => "regular-radio big-radio",  :checked => true %>
				<%= label_tag :recording_duration_1, "1 Hr", 
					:class => "radio_label" %>
				
				<%= f.radio_button(:duration, "3", 
					:class => "regular-radio big-radio" )%>
				<%= label_tag :recording_duration_3, "3 Hr", 
					:class => "radio_label" %>

				<%= f.radio_button(:duration, "12", 
					:class => "regular-radio big-radio" )%>
				<%= label_tag :recording_duration_12, "12 Hr", 
					:class => "radio_label" %>

				<%= f.radio_button(:duration, "24", 
					:class => "regular-radio big-radio" )%>
				<%= label_tag :recording_duration_24, "24 Hr", 
					:class => "radio_label" %>
				
				
				<!-- <%= f.select :duration,	[['2 Hr',2],['3 Hr',3],
					['4 Hr',4],['5 Hr',5],['6 Hr',6],['7 Hr',7],
					['8 Hr',8],['9 Hr',9],['10 Hr',10],['11 Hr',11]]%> -->
				
			</div>


		</div>

	 	<div class="sessionname">
		  <p><%= f.label :name, "Session Name" %></p>
		  <%= f.text_field :name, :id => 'setsessionname', :placeholder => 'Enter session name' %>
		</div>

		<div class="submit">
		    <%= f.submit 'Set it!', :class => 'submit-btn' %>
		</div>

	<% end %>


