	<div class="container">


		<div class="chooseset">
			<h2 class="choose_your_feed">Start Collecting</h2>
			<div class="mystream" "my_description"><%= link_to 'My Feed', tweetstores_url %></div>
			<div class="mystream" "my_description"><%= link_to '#Hashtags', "http://google.com" %></div>
			<div class="mystream" "my_description">@Users</div>
			
		</div>


		<div class="twitterfeed">
			<h2 class="tweets">3 new tweets</h2> 
			<% if Tweetstore.count > 2 %>
				<% (0..2).each do |i| %>
				<blockquote class="twitter-tweet"><p><img src="<%= @tweets[i].profile_image_url%>"alt="tweetpic"><%= @tweets[i].text%></p>&mdash; <%= @tweets[i].screen_name%>  data-datetime=<%= @tweets[i].tweeted_at.to_s %> ></a></blockquote>
				<% end %>
			<% else %>
				<p> Sorry, no Tweets in the store. </p>
			<% end %>
			
		</div>

		<!-- start dashboard here -->
		<div class="dashboard">
			<div class="dbd recording">Recording
				<ul>
					<li class="recording type">My Stream</li>
					<li class="recording date">Tues Nov 6</li>
					<li class="recording name">Election</li>
					<li class="recording duration">12h</li>
				</ul>
<!-- 				<ul>
					<li class="recording type">My Stream</li>
					<li class="recording date">Tues Nov 6</li>
					<li class="recording name">Election</li>
					<li class="recording duration">12h</li>
				</ul> -->
			</div>
			<div class="dbd scheduled">Scheduled
				lkajsd;lfkjas;dklfjs 
				alksdfl;aksjd;lakjsd 
				a;sldkjfl;asdkjf;laskjdf
				las;djkfl;askjdlfjaslj lkajsd;lfkjas;dklfjs 
				alksdfl;aksjd;lakjsd 
				a;sldkjfl;asdkjf;laskjdf
				las;djkfl;askjdlfjasljlkajsd;lfkjas;dklfjs 
				alksdfl;aksjd;lakjsd 
				a;sldkjfl;asdkjf;laskjdf
				las;djkfl;askjdlfjaslj</div>
			<div class="dbd saved">Saved</div>
		</div>
		<!-- end dashboard here -->

		<footer>
			<ul class="footerlist">
				<li class="finallist">MY ACCOUNT</li>
				<li class="finallist">CONTACT</li>
                <li class="finallist">HELP</li>
			</ul>
			
		
		</footer>


	</div>